" http://blog.csdn.net/simple_the_best/article/details/53132943

" 插入模式：光标移动，删除(全部释放，热键归还IDE)
" inoremap <C-h> <Left>
" inoremap <C-j> <Down>
" inoremap <C-k> <Up>
" inoremap <C-l> <Right>
" inoremap <C-s> <Home>
" inoremap <C-e> <End>
" inoremap <C-d> <Delete>

" 插入模式：返回普通状态
" inoremap <C-b> <Esc>
inoremap jj <Esc>
inoremap kk <Esc>

" 普通模式：关闭文件
nnoremap <Space>q  :q<CR>
nnoremap <Space>Q  :qa!<CR>

" 普通模式：快速翻页
nnoremap <Space>d  <C-d>
nnoremap <Space>u  <C-u>

